html,
body,
body > div:first-child {
  min-height: 100vh;
}

.inner-wrap {
  @apply w-full mx-auto;
}

.section {
  @apply mb-8;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

@screen md {
  .inner-wrap {
    @apply px-4;
  }
}

@screen lg {
  .inner-wrap {
    width: 1280px;
  }
}

@screen xl {
  .inner-wrap {
    width: 1600px;
  }

  .section {
    @apply mb-32;
  }
}
