html{
  height: 100%;
}

body{
  min-height: 100%;
}

#__next,
#__next>div
{
  min-height: 100%;
}

.inner-wrap {
  @apply w-10/12 mx-auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@screen md {
}

@screen lg {
  .inner-wrap {
    width: 1070px;
  }
}

@screen xl {
}