html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  min-height: 100%;
}

.inner-wrap {
  @apply w-10/12 mx-auto;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

@screen md {
}

@screen lg {
  .inner-wrap {
    width: 1070px;
  }
}

@screen xl {
}