.productCard {
  @apply relative flex flex-col flex-wrap justify-between flex-1 overflow-hidden rounded border border-transparent;

  transition: all 200ms ease-out;

  .image-overlay,
  .actions {
    opacity: 0;
    display: none;
    transition: all 200ms ease-out;
  }

  .main-data-wrapper {
    height: 6rem;
  }

  .container-info {
    @apply absolute inset-x-0 bg-white;

    transition: all 200ms ease-out;
    bottom: 0;
    margin-bottom: -100px;
  }
}

.productCard.is-active {
  @apply border-black;
}

@screen sm {
  .productCard {
    @apply border-0;

    .image-overlay,
    .actions {
      display: block;
    }
  }

  .productCard.is-active {
    box-shadow: 0 5px 31px -1px rgba(0, 0, 0, 0.15);

    .image-overlay {
      opacity: 0.7;
    }

    .actions {
      opacity: 1;
    }

    .container-info {
      margin-bottom: 0;
    }
  }
}
