html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  @apply text-4xl font-bold mb-5 uppercase leading-none;
}

h2 {
  @apply text-3xl font-bold mb-5 uppercase leading-none;
}

h3,
h4,
h5 {
  @apply text-lg font-bold mb-5;
}

a {
  @apply text-blue-700 no-underline;
}

a:hover {
  @apply underline;
}

@screen lg {
  .outer-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

svg {
  display: inline-block;
}
